@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css?family=Marvel&display=swap');

body{
    background-image: url('../img/bodyBackGround.png');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Marvel', sans-serif;
}

.container{
    max-width: 80%;
}

/* Início do Header */
header{
    border-bottom: 1px solid #414141;
}

.logo{
    width: 120px;
    height: 50px;
}

.navbar{
    background-color: #030C1C;
    font-family: 'Press Start 2P', cursive;
    font-size: 15px;
}

#iPesquisa{
    font-size: 15px;
}

.lupa{
    width: 30px;
    height: 30px;
    
}

.buscar:hover{
    background-color: #5C5099;

}

.buscar{
    background-color: #e9316e;
}

.cadastrar{
    background-color: #e9316e;
    padding: 10px !important;
    border-radius: 5px !important;
}

#btnCadastro:hover{
    background-color: #5C5099 !important;
    color: #fff !important;
}

ul li a:hover{
    color: #e9316e !important;
}

ul > li > a{
    color: #fff !important;
    padding-right: 30px !important;
}
/* Fim do Header */

#input{
    max-width: 800px;
    background-color: #5C5099;
    padding: 35px 35px;
    border: 1px solid #414141;
    margin: 100px auto !important;
    text-align: center;
 }
 .alertColor {
    background: rgba(0, 0, 0, 0.5);
    border: none;
    color: #fff;
 }

 #input h1 {
    font-family: 'Marvel', sans-serif;
    margin-bottom: 40px;
 }

 #btnEnviar:hover{
     background-color: rgba(0, 0, 0, 0.5);
 }
 
 #btnEnviar {
     width: 160px;
     font-family: 'Press Start 2P', cursive;
     font-size: 14px;
     background-color: #e9316e;
     border: 1px solid #5c5099;
     margin-top: 20px;

 }
 
 #input label {
     color: #ffffff;
     font-family: 'Marvel', sans-serif;
     font-size: 22px;
     font-weight: 600;
 }

.devs h1{
   text-align: center;

}

.container h1 {
    text-align: center;
    margin: 30px auto 15px auto;
    color: white;

}
.container p{
    text-align: center;
    color:white;
    border: 2px solid  #696969;
}

/* Carousel */
.carousel{
    max-width: 500px;
    max-height: 1000px;
    margin: 15px auto ;
}
.carousel>.d-block.w-100{
    max-width: 500px;
    height: 500px;
}



/* footer */

#footer{

    max-width: 320px;
    font-size: 14px;
    text-align: center;
    /* margin-bottom: 0; */
    bottom: 0px;
    width: 100%;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000205 ;
    color: white;
    text-align: center;
    font-family: 'Press Start 2P', cursive;


    
}

#footer a:link{

    color: white;
}

.footer-copyright{

    background-color: #000205 ;
}

.txtFooter{
padding:30px 0 30px 0;

}


@media (min-width: 768px) {
    
    #footer{

        font-size: 0.7em;
    
    }

    #h5Footer{

        display: none;
    }

    .txtFooter{
        
        display: inline;

    }

    .footer-copyright{

        background-color: #000205 ;
    }

}


/* media query */

/* Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... } */

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1024px) {
    #hamburguer{
        display:none;
    }
    }