@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css?family=Marvel&display=swap');


body{
    background-image: url('../img/bodyBackGround.png');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Marvel', sans-serif;
}

.container{
    max-width: 80%;
}

header{
    border-bottom: 1px solid #414141;
}

.logo{
    width: 120px;
    height: 50px;
}

.navbar{
    background-color: #030C1C;
    font-family: 'Press Start 2P', cursive;
    font-size: 13px;
}

#iPesquisa{
    font-size: 13px;
    max-width: 180px;
}

.lupa{
    width: 22px;
    height: 22px;
    
}

.buscar:hover{
    background-color: #5C5099;

}

.buscar{
    background-color: #e9316e;
}

.cadastrar{
    background-color: #e9316e;
    padding: 7px !important;
    border-radius: 5px !important;
}

#btnCadastro:hover{
    background-color: #5C5099 !important;
    color: #fff !important;
}

ul li a:hover{
    color: #e9316e !important;
}

ul > li > a{
    color: #fff !important;
    padding-right: 10px !important;
}

.devs h1{
   text-align: center;

}

.container h1 {
    text-align: center;
    margin: 30px auto 15px auto;
    color: white;

}
.container p{
    text-align: center;
    color:white;
    border: 2px solid  #696969;
}


/* Carousel */
.carousel{
    max-width: 500px;
    max-height: 1000px;
    margin: 15px auto ;
}
.carousel>.d-block.w-100{
    max-width: 500px;
    height: 500px;
}



/* footer */

#footer{

    max-width: 320px;
    font-size: 14px;
    text-align: center;
    /* margin-bottom: 0; */
    bottom: 0px;
    width: 100%;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000205 ;
    color: white;
    text-align: center;
    font-family: 'Press Start 2P', cursive;


    
}

#footer a:link{

    color: white;
}

.footer-copyright{

    background-color: #000205 ;
}

.txtFooter{
padding:30px 0 30px 0;

}



@media (max-width: 1024px) {
    #iPesquisa{
        width: 130px;
        font-size: 11px;
    }
    #btnLupa{
        max-width: 20%;
    }
    .cadastrar{
       font-size: 13px;
    }
    ul > li > a{
       font-size: 13px;
       padding-right: 5px !important;
        
    }
    
    
}



@media (min-width: 768px) {
    
    #footer{

        font-size: 0.7em;
    
    }

    #h5Footer{

        display: none;
    }

    .txtFooter{
        
        display: inline;

    }

    .footer-copyright{

        background-color: #000205 ;
    }

}


/* media query */
@media (max-width: 425px) {
    
    #iPesquisa{
        width: 70%;
    }
    #btnLupa{
        max-width: 20%;
    }
  

}